{% extends "base.html" %}
<head>Details</head>

{% block content %}

    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static "news/style.css" %}">
    <form action="{% url 'polls:vote' article.id %}" method="post">
    {% csrf_token %}
    <img class="banner" src="{{ article.banner.url }}">
    <h2 style="margin-left: 25%">{{ article.title }}</h2>
    <div class="text">
    {{ article.article_text|linebreaks }}
    </div>
    {% if error_message %}<p style="margin-left:610px"><strong>{{ error_message }}</strong></p>{% endif %}

</form>
{% endblock %}