<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base_style.css' %}">
    <title>Andi's erste Website</title>
</head>
<body>
<ul class="navbar">
    <li class="navbar"><a class="navbar" href="{% url "home" %}">Home</a></li>
    <li class="navbar"><a class="navbar" href="{% url "polls:index" %}">Umfragen</a></li>
    <li class="navbar"><a class="navbar" href="{% url "contact" %}">Kontakt</a></li>
    <li class="navbar" style="float:right">Andi's Homepage</li>
</ul>
    {% block content %}
        Platzhaltertext
    {% endblock %}

</body>
</html>