{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"  href="{% static 'pages/style.css' %}">
    <h2>About me and this Website</h2>
    <div class="text">
    <p>
        Hi, my Name is Andreas and i'm a freshly finishied student of physics from Germany! I am interested in topics all around Computer Science, but espacially Machine Learning and Data Science. My studies taught me profound knowledge of mathematics and excellent problem-solving skills to deal with any complex question.
    </p> <p>
Currently i am looking for a part time job in Machine Learning or Data Science. Nevertheless i can also imagine myself in a different area of computer science, if the conditions are fitting.
    </p>
    <p>
        This demo-website was written in Python, Django for practice-purposes. It shows my understanding of basic principles of backend and frontend of web development, e.g. Django, HTML and CSS. The integrated polls app is an extended version of the one showcased in the beginner tutorial of the Django documentation.
    </p>
    <p>
        Feel free to contact me if you need anything done related to Python, Data Science, Machine-Learning or Web-Development!
    </p>
    </div>
    <p> Hier findet ihr ein Bild von Andi:</p>
    <img src="{% static "pages/images/archer.jpg" %}" style="width:400px;height:400px">
    <img src="{% static "pages/images/archer.jpg" %}" style="width:400px;height:400px">
    <img src="{% static "pages/images/archer.jpg" %}" style="width:400px;height:400px">
{% endblock %}