{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet"  href="{% static 'pages/style.css' %}">



    {% if latest_article_list %}

        <div class="articleslider" id="articleslider">
        {% for article in latest_article_list %}
                {% with forloop.counter|stringformat:"s" as counter %}
                {% with "article_"|add:counter as article_id %}
                <div class="bannerwrapper" id = {{ article_id }}>

                    <img src="{{ article.banner.url }}" class="banner">
                    <a href="{% url "news:detail" article.title %}">
                    <div class="bannertext">
                        <h2 class="bannerheader"> {{ article.title }}</h2>
                        <p class="bannerintro"> {{ article.get_intro|linebreaksbr }}</p>
                    </div>
                    </a>

                </div>
                {% endwith %}
                {% endwith %}
        {% endfor %}

        {% for article in latest_article_list %}
            {% with forloop.counter|stringformat:"s" as counter %}
            {% with "indicator_"|add:counter as indicator_id %}
            <div class="indicator" id={{ indicator_id }}>  </div>
            {% endwith %}
            {% endwith %}
        {% endfor %}

        <div class="buttonslider" id="buttonslider-left"> <img class="arrow" src="/media/images/pfeil-links.png"></div>
        <div class="buttonslider" id="buttonslider-right"><img class="arrow" src="/media/images/pfeil-rechts.png"></div>
        </div>
    {% else %}

    {% endif %}


    <div id="clock_container">
    <img id="clock" src='{% static "pages/images/clock-cropped.png" %}'>
    <div id="minute-hand"></div>
    <div id="hour-hand"></div>
    <div id="second-hand"></div>
    </div>

    <script src="{% static 'pages/home.js' %}"> </script>
    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener('DOMContentLoaded', function () {
            indicator({{ nr_articles }})
            start_slide_article({{ nr_articles }})
            document.getElementById("buttonslider-left").addEventListener("click", function() {
                swipe_left({{ nr_articles }});
            })
            document.getElementById("buttonslider-right").addEventListener("click", function() {
                swipe_right({{ nr_articles }});
            })
        });
    </script>
{% endblock %}