{% extends "base.html" %}

{% block content %}
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static "polls/style.css" %}">
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div style="margin-left: 30%">
    {{ form.as_p }}
        </div>
        <div class="pollschoice">
        <p class="choicesheader">Choices</p> <p class="choicesheader" style="float: right; margin-right: 6%">Votes</p>

        <ul class="pollschoices">
            {{ choice_forms.management_data }}
            {{ choice_forms.as_ul }}
        </ul>
        </div>
    <a class="button" style="margin-left: 30%" href="{% url "polls:create" nr_of_choices|add:1 %}"> Add Choice </a>
    <a class="button" href="{% url "polls:create" nr_of_choices|add:-1 %}">Remove Choice </a>
    <input type="submit", value="Save" />
    </form>
{% endblock %}
